.loginpop{padding:0;background:#3886c0;padding-bottom:20px;}
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){.red_truck{margin-top:-99px;}
.yellow_truck{margin-top:-25px;}
.loginpop{padding:0;background:#3886c0;padding-bottom:20px;}
}
}
@media only screen and (min-width:321px){.red_truck{margin-top:-90px;}
.yellow_truck{margin-top:-25px;}
.mg-room img{height:220px;}
.industrial .industry a{padding:30px 0px;display:block;}
.industrial .industry .industry-title{font-size:16px;}
.industrial .industry .industry-icon{right:10px;}
.loginpop{padding:0;background:#3886c0;padding-bottom:20px;}
}
}
@media only screen and (min-width:380px) and (max-width:420px){.red_truck{margin-top:-110px;}
.yellow_truck{margin-top:-25px;}
}
@media only screen and (min-width:480px){.mg-room img{width:100%;}
.red_truck{margin-top:-132px;}
.yellow_truck{margin-top:-25px;}
.carousel-caption .mytext{font-size:28px;padding:12px;border-width:0px;visibility:visible;margin-left:0px;margin-top:0px;}.carousel-caption > p{font-size:15px;}
.loginpop{padding:0;background:#3886c0;padding-bottom:20px;}
}
}
@media only screen and (min-width:800px){.red_truck{margin-top:-164px;}
.yellow_truck{margin-top:-25px;}
.navbar-inverse .navbar-nav > li > a{font-size:16px;color:#000;-webkit-transition:color 0.3s, padding 0.3s;}
.loginpop{padding:0;background:#3886c0;padding-bottom:20px;}
}
}
@media only screen and (max-width:320px){.red_truck{margin-top:-99px;}
.yellow_truck{margin-top:-25px;}
}
@media only screen and (max-width:280px){.our-service .feature-icon-left .feature-text{width:100%;float:left;padding-top:0px;padding-left:35%;}
}
@media (min-width:992px){.navbar .container{width:auto;padding:5px;}}
@media (min-width:1200px){.navbar .container{width:1170px;}
.loginpop{padding:0;background:#3886c0;padding-bottom:20px;}
}
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px){.red_truck{margin-top:-99px;}
.yellow_truck{margin-top:-25px;}
.loginpop{padding:0;background:#3886c0;padding-bottom:20px;}
}
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){.red_truck{margin-top:-99px;}
.yellow_truck{margin-top:-25px;}
.loginpop{padding:0;background:#3886c0;padding-bottom:20px;}
}
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){.red_truck{margin-top:-99px;}
.yellow_truck{margin-top:-25px;}
.loginpop{padding:0;background:#3886c0;padding-bottom:20px;}
}
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2){.red_truck{margin-top:-99px;}
.yellow_truck{margin-top:-25px;}
.loginpop{padding:0;background:#3886c0;padding-bottom:20px;}
}
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2){}
@media only screen and (min-width:1224px){.red_truck{margin-top:-165px;}
.yellow_truck{margin-top:-45px;}
.mg-room img{height:100%;}
.loginpop{padding:0;background:#3886c0;padding-bottom:240px}
}
}
@media only screen and (min-width:1824px){}
@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2){}
@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2){}
@media only screen and (min-device-width:320px) and (max-device-height:568px) and (orientation:landscape) and (-webkit-device-pixel-ratio:2){.red_truck{margin-top:-140px;}
}
@media only screen and (min-device-width:320px) and (max-device-height:568px) and (orientation:portrait) and (-webkit-device-pixel-ratio:2){.red_truck{margin-top:-140px;}
}
@media only screen and (min-device-width:375px) and (max-device-height:667px) and (orientation:landscape) and (-webkit-device-pixel-ratio:2){.red_truck{margin-top:-140px;}
}
@media only screen and (min-device-width:375px) and (max-device-height:667px) and (orientation:portrait) and (-webkit-device-pixel-ratio:2){.red_truck{margin-top:-140px;}
}
@media only screen and (min-device-width:414px) and (max-device-height:736px) and (orientation:landscape) and (-webkit-device-pixel-ratio:2){}
@media only screen and (min-device-width:414px) and (max-device-height:736px) and (orientation:portrait) and (-webkit-device-pixel-ratio:2){}
@media only screen and (min-device-width:320px) and (max-device-height:640px) and (orientation:landscape) and (-webkit-device-pixel-ratio:2){}
@media only screen and (min-device-width:320px) and (max-device-height:640px) and (orientation:portrait) and (-webkit-device-pixel-ratio:2){}
@media only screen and (min-device-width:320px) and (max-device-height:640px) and (orientation:landscape) and (-webkit-device-pixel-ratio:3){}
@media only screen and (min-device-width:320px) and (max-device-height:640px) and (orientation:portrait) and (-webkit-device-pixel-ratio:3){}
@media only screen and (min-device-width:360px) and (max-device-height:640px) and (orientation:landscape) and (-webkit-device-pixel-ratio:3){}
@media only screen and (min-device-width:360px) and (max-device-height:640px) and (orientation:portrait) and (-webkit-device-pixel-ratio:3){}



/* XS Portrait */
@media (max-width: 480px) {
.slider-text h2{
    font-size: 27px !important;
    font-weight: 600 !important;
}
.phone-showcase .device img{
    width: 95%;
}
.carousel .container{
     padding-right: 0px !important; 
     padding-left: 0px !important; 
}
.carousel:hover .carousel-control.left {
    left: 0;
    width: 40px;
}
.carousel:hover .carousel-control.right {
    right: 0;
     width: 40px;
}
.carousel-inner blockquote{
     padding: 18px 0px;
     font-size: 16px;
    padding-left: 0;
 }
}

/* xs */
@media (max-width: 767px) {
.slider-text h2
}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  /* Make Navigation Toggle on Desktop Hover */
  
  }
  
  /* md */
@media (min-width: 992px) and (max-width: 1199px) {
 /* Make Navigation Toggle on Desktop Hover */
 
 }
 
 /* lg */ 
@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */
 
 }